.contact-view-container {
  padding: 2rem var(--mainPaddingX);
}

.contact-parent-row {
  gap: 12rem;
  display: flex;
  border-top: 3px solid var(--lightgray);
  padding: 4.8rem 0;
}

.contact-header-column {
  flex: 1;
  /* border: 3px solid green; */
}

.contact-content-column {
  flex: 2;
  /* border: 2px solid red; */
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.error-div {
  /* content: ""; */
  /* border: 5px solid black; */
  /* padding: 0.5rem; */
  /* width: 150px;
  height: 30px; */
  position: relative;
  overflow: hidden;
}

.error {
  color: var(--red);
  font-weight: 200;
  position: relative;
  transition: 0.5s ease;
  transform: translateY(-65px);
}

.show-error {
  transform: translateY(0px);
}

@media screen and (max-width: 850px) {
  .contact-parent-row {
    flex-direction: column;
    gap: 3rem;
  }
}
