.footer {
  padding: 2.4rem var(--mainPaddingX);
  display: flex;
  justify-content: space-between;
  background: var(--grayishdarkblue);
  /* margin-top: 0rem; */
}

.footer-column,
.footer-nav-links,
.footer-media-links {
  display: flex;
  align-items: center;
}

.footer-column {
  gap: 3rem;
}

.footer-nav-links {
  gap: 4.2rem;
  letter-spacing: 0.2rem;
}

.footer-media-links {
  gap: 1.5rem;
}

.footer-nav-link {
  color: var(--verylightgray);
  text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
  /* .footer {
    margin-top: 0rem;
  } */
  .footer-nav-links {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 5.6rem;
    margin-top: 2.5rem;
  }
  .footer,
  .footer-column,
  .footer-nav-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    gap: 0rem;
  }

  .footer-nav-links {
    margin: 4rem 0;
  }
}
