.contact-me-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem var(--mainPaddingX);
  gap: 2rem;
  margin: 10rem 0;
  /* border: 2px solid red; */
}

.contact-me-h2-div {
  flex: 1;
  min-width: 350px;
  /* border: 5px solid red; */
}

.contact-me-h2 {
  font-family: var(--headerFont);
  /* max-width: 350px; */
  /* flex: 2; */
}

.contact-me-line {
  height: 2px;
  width: 100%;
  background: var(--lightgray);
  flex: 2;
}

.contact-btn-link {
  float: right;
}

@media screen and (max-width: 875px) {
  /* .contact-me-section {
    flex-direction: column;
    gap: 2rem;
    margin: 8rem 0;
    text-align: center;
  } */
}

@media screen and (max-width: 575px) {
  .contact-me-line {
    display: none;
  }

  .contact-me-h2-div {
    min-width: 0px;
    padding: 2rem 3rem;
  }
  .contact-me-section {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    text-align: center;
  }
}
