@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600&family=Public+Sans:wght@100;200;400;700&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --cyan: #5fb4a2;
  --darkblue: #203a4c;
  --grayishdarkblue: #33323d;
  --verylightgray: #fafafa;
  --lightgray: #eaeaeb;
  --red: #f43030;
  --headerFont: "Ibarra Real Nova", serif;
  --mainFont: "Public Sans", sans-serif;
  --mainPaddingX: 16.5rem;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.45px;
}

h2 {
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: -0.36px;
}

h3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.29px;
}

h5 {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: -0.45px;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.btn {
  cursor: pointer;
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  transition: 0.5s ease;

  /* border: 2px solid transparent;
  outline: none; */
}

.primary-btn {
  background: var(--grayishdarkblue);
  color: var(--lightgray);
  border: none;
}

.primary-btn:hover {
  opacity: 65%;
  background: var(--cyan);
}

.secondary-btn {
  background: transparent;
  border: 2px solid var(--grayishdarkblue);
}

.secondary-btn:hover {
  background: var(--grayishdarkblue);
  color: var(--lightgray);
}

.header-font {
  font-family: var(--headerFont);
}

.thin {
  font-weight: 400;
}

.thinner {
  font-weight: 200;
}

.my-2 {
  margin: 2rem 0;
}

.mb-2 {
  margin-bottom: 2.5rem;
}

.cyan {
  color: var(--cyan);
}

.muted {
  opacity: 50%;
}

.form-div {
  margin: 2.4rem 0;
}

label {
  font-weight: 700;
  font-size: 1.5rem;
}

.form-control {
  padding: 0.9rem 1.6rem;
  width: 100%;
  background: var(--lightgray);
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.form-control::placeholder {
  opacity: 50%;
}

textarea {
  height: 100px;
  resize: none;
}

@media screen and (max-width: 1050px) {
  :root {
    --mainPaddingX: 3.9rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.45px;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --mainPaddingX: 3.2rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.45px;
  }

  h2 {
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.36px;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.29px;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: -0.45px;
  }

  p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
