.carousel-row {
  border-top: 2px solid var(--lightgray);
  border-bottom: 2px solid var(--lightgray);
  padding: 3rem 0;
  margin-bottom: 7rem;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.carousel-item {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  cursor: pointer;
  /* border: 2px solid red; */
}

.carousel-partition-item {
  width: 2px;
  height: 100px;
  position: relative;
  background: var(--lightgray);
}

.mobile-carousel-column {
  display: none;
}

@media screen and (max-width: 550px) {
  .mobile-carousel-column {
    display: block;
  }

  .flex-start-mobile {
    align-items: flex-start;
    border: 2px solid red;
  }

  .flex-end-mobile {
    align-items: flex-end;
    border: 2px solid red;
  }
  .desktop-carousel-column {
    display: none;
  }
  .carousel-item {
    flex-direction: column;
    gap: 1rem;
  }
}
