.project-info-content-parent {
  display: flex;
  margin: 6rem 0;
  gap: 12.5rem;
}

.project-info-content {
  margin: 4.8rem 0rem;
  /* margin-right: 12.5rem; */
  /* margin-top: 4.8rem; */
}

.technologies-list {
  display: flex;
  gap: 1rem;
}

.previews-img-container {
  margin-top: 2rem;
}

.preview-img-container {
  margin: 2rem 0;
}

.gallery-img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .project-info-content-parent {
    flex-direction: column;
  }
}
